version: '3.8'

services:
  mysql:
    image: mariadb:12-noble
    container_name: mariadb_afwezigheid
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./sql/init.sql:/docker-entrypoint-initdb.d/01-init.sql
      - ./sql/insert_test_data.sql:/docker-entrypoint-initdb.d/02-insert_test_data.sql
    networks:
      - afwezigheid_network

volumes:
  mysql_data:
    driver: local

networks:
  afwezigheid_network:
    driver: bridge
